In [1]:
import sqlite3
import pandas as pd

In [2]:
# Init path
chembl_db_path = "/home/son.ha/FSL_CP_DataPrep/sql/chembl_31_sqlite/chembl_31.db"

In [3]:
# Query
query_assay_target = "SELECT DISTINCT ay.assay_id, t.chembl_id, t.target_type " \
                                "from assays ay, target_dictionary t " \
                                "where ay.tid = t.tid "

In [8]:
# Fetch 
db = sqlite3.connect(chembl_db_path)
cursor = db.cursor()
myresult = cursor.execute(query_assay_target).fetchall()


df_target = pd.DataFrame(myresult, columns=['ASSAY_ID', 'target_chembl_id', 'target_type'])
df_target

   ASSAY_ID target_chembl_id     target_type
0         1       CHEMBL2741  SINGLE PROTEIN
1         2     CHEMBL612545       UNCHECKED
2         3    CHEMBL2362975       NO TARGET
3         4    CHEMBL2094257  PROTEIN FAMILY
4         5     CHEMBL614508       CELL-LINE

In [6]:
df_cp_assay = pd.read_csv("temp/chembl31-labels-assay-index.csv")

In [9]:
df_merge = pd.merge(df_cp_assay, df_target, on="ASSAY_ID", how="left")
df_merge

     ASSAY_ID target_chembl_id     target_type
0      737823       CHEMBL3356  SINGLE PROTEIN
1      737824       CHEMBL3622  SINGLE PROTEIN
2      688422    CHEMBL1293235  SINGLE PROTEIN
3      688810    CHEMBL1615322    NUCLEIC-ACID
4      688812    CHEMBL1293294  SINGLE PROTEIN
..        ...              ...             ...
196   1301866     CHEMBL612545       UNCHECKED
197   1301890    CHEMBL2029197  SINGLE PROTEIN
198   1301859    CHEMBL2029198  SINGLE PROTEIN
199   1301893     CHEMBL612545       UNCHECKED
200   1495346     CHEMBL612545       UNCHECKED

[201 rows x 3 columns]

In [10]:
df_merge['target_type'].value_counts()

SINGLE PROTEIN     78
CELL-LINE          69
UNCHECKED          43
ORGANISM            5
PROTEIN COMPLEX     3
NUCLEIC-ACID        2
NON-MOLECULAR       1
Name: target_type, dtype: int64

In [11]:
df_merge.to_csv("output/assay_target_map.csv", index=False)