In [6]:
import sqlite3
import pandas as pd

In [7]:
# Init path
chembl_db_path = "/home/son.ha/FSL_CP_DataPrep/sql/chembl_29_sqlite/chembl_29.db"

In [8]:
# Query
query_assay_target = "SELECT DISTINCT ay.assay_id, t.chembl_id, t.target_type " \
                                "from assays ay, target_dictionary t " \
                                "where ay.tid = t.tid "

In [9]:
# Fetch 
db = sqlite3.connect(chembl_db_path)
cursor = db.cursor()
myresult = cursor.execute(query_assay_target).fetchall()


df_target = pd.DataFrame(myresult, columns=['assay_id', 'target_chembl_id', 'target_type'])
df_target.head()

   assay_id target_chembl_id     target_type
0         1       CHEMBL2741  SINGLE PROTEIN
1         2     CHEMBL612545       UNCHECKED
2         3    CHEMBL2362975       NO TARGET
3         4    CHEMBL2094257  PROTEIN FAMILY
4         5     CHEMBL614508       CELL-LINE

In [10]:
df_target

         assay_id target_chembl_id     target_type
0               1       CHEMBL2741  SINGLE PROTEIN
1               2     CHEMBL612545       UNCHECKED
2               3    CHEMBL2362975       NO TARGET
3               4    CHEMBL2094257  PROTEIN FAMILY
4               5     CHEMBL614508       CELL-LINE
...           ...              ...             ...
1383548   1998350    CHEMBL3217390  SINGLE PROTEIN
1383549   1998351    CHEMBL3217390  SINGLE PROTEIN
1383550   1998352    CHEMBL3108641  SINGLE PROTEIN
1383551   1998353    CHEMBL3108638  SINGLE PROTEIN
1383552   1998354       CHEMBL3784  SINGLE PROTEIN

[1383553 rows x 3 columns]